#grid {
    /*For memorry html*/
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.w-grid {
    /*for whack a mole*/
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    /*for whack a mole*/
    height: 200px;
    width: 200px;
    border: 1px solid #000;

}

.mole {
    /*for whack a mole*/
    background-image: url(../images/whack-a-mole.png);
    background-position: center;
}


/* break out*/
.b-grid {
    position: absolute;
    width: 570px;
    height: 300px;
    border: 1px solid black;
    margin-top: 100px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: silver;
}

/*for frogger*/
.frogger-grid {
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.frogger-grid div {
    height: 18px;
    width: 18px;
    border: 1px solid black;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: azure;
}

/*.log-left, .log-right{
    background-color: blue;
}
*/
/*.car-left,.car-right{
    background-color: lightgray;
}*/



.l1,
.l2,
.l3 {
    background-color: brown;
}

.l4,
.l5 {
    background-color: blue;
}

.c1 {
    background-color: black;
}

.c2,
.c3 {
    background-color: lightgrey;
}

.frog {
    background-color: green;
}