#grid{  /*For memorry html*/
    width: 400px;
    height:300px;
    display:flex;
    flex-wrap: wrap;
}

.w-grid{/*for whack a mole*/
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square{/*for whack a mole*/
    height: 200px;
    width: 200px;
    border: 1px solid #000;

}

.mole{/*for whack a mole*/
    background-image: url(../images/whack-a-mole.png);
    background-position: center;
}


/* break out*/
.b-grid{
    position: absolute;
    width: 570px;
    height: 300px;
    border: 1px solid black;
}

.block{
    position: absolute;
    width: 100px ;
    height: 20px;
    background-color: blue; 
}

.user{
    position: absolute;
    width: 100px ;
    height: 20px;
    background-color: purple; 
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: silver;
}